.customize-control-siteorigin-measurement .measurement-fields .amount {
  float: left;
  width: 40%;
  margin-right: 4px; }

.customize-control-siteorigin-measurement .measurement-fields .measurement {
  float: left;
  width: auto;
  min-width: initial;
  margin-top: -1px; }
